---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Evan Bancroft">
  <main class="h-lvh">
    <div
      class="flex flex-col gap-[max(2vw,28px)] m-auto w-5/12 h-lvh py-[max(72px,5vw)]"
    >
      <h1>Evan's Gift List</h1>
      <ul class="list-disc">
        <li>
          Wolverine Lego Hand -
          <a
            href="https://www.target.com/p/lego-marvel-wolverine-39-s-adamantium-claws-collectible-building-kit-x-men-glove-76250/-/A-87830688#lnk=sametab"
            target="_blank"
            rel="noreferrer">link</a
          >
        </li>
        <li>
          Golf Rangefinder -
          <a
            href="https://www.costco.com/caddytek-golf-laser-rangefinder%2c-caddyview-v3-%2bslope.product.4000228985.html"
            target="_blank"
            rel="noreferrer">link</a
          >
        </li>
        <li>
          Golf Push Cart -
          <a
            href="https://www.costco.com/caddytek-lite-auto-%2b360-3-wheel-golf-cart.product.4000274859.html"
            target="_blank"
            rel="noreferrer">link</a
          >
        </li>
        <li>
          Versa Grips (find size) -
          <a
            href="https://www.sonos.com/en-us/shop/era-100-black"
            target="_blank"
            rel="noreferrer">link</a
          >
        </li>
        <li>Cooking Apron - No link, surprise me</li>
        <li>
          Golf Shoes -
          <a
            href="https://www.dickssportinggoods.com/p/nike-mens-air-max-90-g-golf-shoes-21nikmrmx90gsprtggsh/21nikmrmx90gsprtggsh"
            target="_blank"
            rel="noreferrer">link</a
          >
        </li>
        <li>
          Logitech MX Master 3s -
          <a
            href="https://www.amazon.com/Logitech-Master-Advanced-Wireless-Mouse/dp/B07XC2FWD1"
            target="_blank"
            rel="noreferrer">link</a
          >
        </li>
        <li>
          Airpods Pro 2
          <a
            href="https://www.target.com/p/airpods-pro-2nd-generation-with-magsafe-case-usb-c/-/A-85978622#lnk=sametab"
            target="_blank"
            rel="noreferrer">link</a
          >
        </li>
        <li>
          Sonos Era 100 -
          <a
            href="https://www.sonos.com/en-us/shop/era-100-black"
            target="_blank"
            rel="noreferrer">link</a
          >
        </li>
        <li>
          Unifi Express - <a
            href="https://store.ui.com/us/en/category/all-unifi-cloud-gateways/products/ux"
            target="_blank"
            rel="noreferrer">link</a
          >
        </li>
      </ul>

      <style>
        main {
          color: white;
          font-family: "JetBrains Mono", serif;
        }
        a {
          color: lightgreen;
          text-decoration: underline;
        }
        .astro-a {
          position: absolute;
          top: -32px;
          left: 50%;
          transform: translatex(-50%);
          width: 220px;
          height: auto;
          z-index: -1;
        }
        h1 {
          font-size: 4rem;
          font-weight: 700;
          line-height: 1;
        }
      </style>
    </div>
  </main>
</Layout>
