---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Evan Bancroft">
  <main class="h-lvh">
    <div
      class="flex flex-col justify-center gap-[max(2vw,28px)] m-auto w-9/12 h-lvh"
    >
      <h1>Evan Bancroft</h1>
      <h2>Lead Software Engineer - Riff_ Creative</h2>
      <p>
        Welcome to my website. There is not a lot going on here...<em>yet</em
        >.<br />
        I will be posting in the future about software and self hosting and any other
        hobbies I happen to pick up.
      </p>
      <div></div>
    </div>
  </main>

  <style>
    main {
      color: white;
      font-family: "JetBrains Mono", serif;
    }
    .astro-a {
      position: absolute;
      top: -32px;
      left: 50%;
      transform: translatex(-50%);
      width: 220px;
      height: auto;
      z-index: -1;
    }
    h1 {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1;
    }
  </style>
</Layout>
